{
    "presets": ["@babel/preset-env", "env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }],
    "plugins": ["@babel/transform-runtime", {
      "regenerator": true
    }]
}
